/* Layout page variables
  ========================================================================== */
$layout-example-1-height: 301px;
$layout-example-1-width: 832px;
$layout-example-animated-height: 469px;
$layout-example-animated-width: 720px;
$layout-example-animated-3-width: 259px;
$layout-example-content-area-height: 320px;
$layout-example-content-area-width: 480px;
$layout-implementation-1-h: 365px;
$layout-implementation-1-w: 588px;
$layout-implementation-2-h: 180px;
$layout-implementation-2-w: 500px;
$layout-implementation-3-h: 267px;
$layout-implementation-3-w: 460px;
$layout-implementation-4-h: 135px;
$layout-implementation-4-w: 327px;
$layout-implementation-5-h: 303px;
$layout-implementation-5-w: 662px;
$layout-implementation-6-h: 427px;
$layout-implementation-6-w: 993px;
$layout-implementation-7-h: 193px;
$layout-implementation-7-w: 478px;
$layout-implementation-8-h: 322px;
$layout-implementation-8-w: 565px;
$layout-implementation-9-h: 423px;
$layout-implementation-9-w: 527px;
$layout-implementation-10-h: 394px;
$layout-implementation-10-w: 601px;
