/* Back to top
   ========================================================================== */
/**
* JS component loaded on startup
* The button displays after scrolling 800px
*
* See more: /assets/javascripts/application/components/back-to-top.js
*
* Variables file: assets/stylesheets/eos-custom-components/back-to-top/back-to-top.variables.scss
*/
.back-to-top {
  align-items: center;
  background-color: $eos-btt-background;
  border-color: transparent;
  border-radius: $eos-btt-border-radius;
  bottom: $eos-btt-bottom;
  color: $eos-btt-color;
  cursor: pointer;
  display: flex;
  height: $eos-btt-height;
  justify-content: center;
  outline: none;
  position: fixed;
  right: $eos-btt-right;
  visibility: hidden;
  width: $eos-btt-width;
  z-index: $eos-btt-zindex;

  .eos-icons-outlined, .eos-icons {
    margin: 0;
  }

  &:focus {
    outline: $eos-btt-focus-color;
  }
  @media screen and (max-width: $eos-sd-max) {
    bottom: $eos-btt-bottom-mobile;
    right: $eos-btt-right-mobile;
  }
}
