- if (locals.config.showChangelog)
  li.footer-list-item
    a.footer-link(href='/changelog', data-event-category='Internal link', data-event-action='Changelog', data-event-label='Footer')
      | Changelog
-
