/* Cookies banner dark theme variables
   ========================================================================== */
/**
* Colors
*
* Colors variables: /assets/stylesheets/eos-base/variables/branding.scss

* */

$eos-do-dont-dark-theme-text: $eos-bc-white;
$eos-do-dont-dark-theme-bg: $eos-bc-dt-gray-200;
$eos-do-title-dark: $eos-bc-green-100;
$eos-dont-title-dark: $eos-bc-red-100;
