/* ==========================================================================
  Contrast table.
========================================================================== */
.contrast-table {
  li {
    padding: $eos-contrast-table-li-padding;

    &.contrast-table-heading {
      font-family: $eos-contrast-table-heading-font-family;
      font-size: $eos-contrast-table-heading-font-size;
      margin-left: $eos-contrast-table-heading-margin-left;
      
    }

    &.contrast-table-subheading span {
      padding-left: 0;
    }
  }

  span {
    display: inline-block;
    padding: $eos-contrast-table-span-padding;
    width: $eos-contrast-table-span-width;
  }

  .color-name {
    text-align: right;
  }

  .color-bg {
    color: $eos-contrast-table-color-bg-color;
  }

  .contrast-ratios {
    border-left: $eos-contrast-table-contrast-ratio-border;
    border-right: $eos-contrast-table-contrast-ratio-border;
    color: $eos-contrast-table-color-bg-color;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    width: $eos-contrast-table-contrast-ratio-width;

    &.pass {
      background: $eos-contrast-table-pass-background;
    }

    &.fail {
      background: $eos-contrast-table-fail-background;
    }
  }

  .color-text {
    background-color: $eos-contrast-table-color-bg-color;
    border: $eos-contrast-table-contrast-color-text-border;
    padding-bottom: $eos-contrast-table-contrast-color-text-padding;
    padding-top: $eos-contrast-table-contrast-color-text-padding;
  }

  &.contrast-table-dark {
    .color-bg {
      color: $eos-contrast-table-dark-color-bg-color;
    }

    .color-text {
      background-color: $eos-contrast-table-dark-color-bg-color;
      border-color: $eos-contrast-table-dark-color-bg-color;
    }
  }
}
