/* Contrast table Variables
========================================================================== */
/* Colors variables: /assets/stylesheets/eos-base/variables/branding.scss */
$eos-contrast-table-color-bg-color: $eos-bc-white;
$eos-contrast-table-pass-background: $eos-bc-green-900;
$eos-contrast-table-fail-background: $eos-bc-red-900;
$eos-contrast-table-dark-color-bg-color: $eos-bc-gray-1000;

/* Spacing variables: /assets/stylesheets/eos-base/variables/yypography.scss */
$eos-contrast-table-heading-font-family: $eos-font-type-headlines;

/* Spacing variables: /assets/stylesheets/eos-base/variables/spacings.scss */
$eos-contrast-table-li-padding: 0 0 1px 0;
$eos-contrast-table-heading-font-size: 18px;
$eos-contrast-table-heading-margin-left: 30%;
$eos-contrast-table-span-padding: $eos-s + 4;
$eos-contrast-table-span-width: 30%;
$eos-contrast-table-contrast-ratio-width: 10%;
$eos-contrast-table-contrast-color-text-border: 1px solid $eos-bc-gray-100;
$eos-contrast-table-contrast-color-text-padding: $eos-s + 3;
$eos-contrast-table-contrast-ratio-border: 1px solid $eos-bc-white;
