html(lang='en')
  title= docTitle
  meta(name='description', content=docDescription)
  meta(name='viewport', content='width=device-width, initial-scale=1')
  meta(property='og:title', content='SUSE Product Brand Design System')
  meta(property='og:type', content='website')
  meta(property='og:url', content='http://www.eosdesignsystem.com')
  meta(property='og:image', content='https://res.cloudinary.com/eosdesignsystem/image/upload/v1610638939/EOS/Social/EOS-social-2021.png')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/eos-icons@latest/dist/css/eos-icons-outlined.css')

  - if ( process.env.NODE_ENV === 'production') {
    style
      include ../../../vendors/build/css/vendors.min.css
    style
      include ../../../assets/stylesheets/application.css
  - } else {
    link(rel='stylesheet', href='/build/css/vendors.min.css')
    link(rel='stylesheet', href='/stylesheets/application.css')
  - }
