extends ../layouts/layout-main

block content
  article.container
    section.row
      .col-md-9
        h1
          | Tooltips
        p.subheadline
          | Use tooltips in mouse over events to show the user more information about an action or data.
      .col-md-3
        .dropdown.margin-top-m.float-right
          button.btn.btn-secondary.dropdown-toggle(data-toggle='dropdown', aria-expanded='false', aria-haspopup='true', aria-labelledby='tooltips-assets-dropdown')
            | #[i.eos-icons-outlined.eos-18(aria-hidden='true') keyboard_arrow_down]#[span.sr-only Opens assets dropdown] Tooltip assets
          ul#tooltips-assets-dropdown.dropdown-menu.dropdown-menu-right
            include ../shared/kit-dropdown/assets.pug
    hr
    section.margin-top-xxl
      h2.js-anchor.anchor
        | Description

      ul.list-no-padding
        li
          | Tooltips are used to show more information in buttons, links, or important user data
          | (non-actionable) where the space in screen is insufficient.
        li
          | Tooltips should only appear on #[code :hover] and #[code :focus].
        li
          | Always show the tooltip on #[code top] of the element. Use #[code bottom], #[code left] or #[code right] only if #[code top] fails.
        li
          | Use #[code $eos-bc-gray-1000] as background color.

    section.margin-top-xl.global-alerts-demo
      .row.states-row.margin-top-xxl.js-showcase-component(name='tooltip')
        .col-md-3.states-column
          strong.states-column-title
            | Tooltip types
          ul.states-list.no-list-style.js-showcase-list
            li.js-showcase-current
              button.btn-showcase.js-element-id
                span.js-element-label
                  | Default
        .col-md-9.component-showcase-col
          strong.js-showcase-how-to
            | How to use this element
          p.js-how-to-use
          strong.d-block
            | Example
          .states-example-box
            .example-inner-box-full.js-example-inner-box
          strong.d-block
            | Code
          .css-snippet-container
            .scss-snippet-btns
              button.btn-unstyled.js-copy-snippet(aria-label='Copy code to clipboard')
                i.single-icon.eos-icons-outlined.eos-18.eos-light(aria-hidden='true')
                  | content_copy
            pre.js-snippet-code.language-markup
              code.language-html
    h2.js-anchor.anchor.margin-top-xxl
      | Use cases
    .row
      .col-md-12
        strong
          | Example 1: interactive message.
        .tooltips-example.tooltips-example-1.margin-top-xxl
          span.sr-only
            | Tooltip example for interactive message
    .row.margin-top-xxxl
      .col-md-12
        strong
          | Example 2: truncated text shown entirely inside the tooltip.
        .tooltips-example.tooltips-example-2.margin-top-xxl
          span.sr-only
            | Tooltip example for truncated text
    .row.margin-top-xxxl
      .col-md-12
        strong
          | Example 3: icon only button.
        .tooltips-example.tooltips-example-3.margin-top-xxl
          span.sr-only
            | Tooltip example for icon only button
