extends ../layouts/layout-main

block content
  .container
    section
      .row
        .col-md-9
          h1
            | Smart tooltip
          p.subheadline
            | Display a truncated version of the text and show the full version inside of a tooltip.
        .col-md-3
          .dropdown.margin-top-m.float-right
            button.btn.btn-secondary.dropdown-toggle(data-toggle='dropdown', aria-expanded='false', aria-haspopup='true', aria-labelledby='tooltips-assets-dropdown')
              | #[i.eos-icons-outlined.eos-18(aria-hidden='true') keyboard_arrow_down]#[span.sr-only Opens assets dropdown] Tooltip assets
            ul#tooltips-assets-dropdown.dropdown-menu.dropdown-menu-right
              li
                a.dropdown-item(href='/installing-npm', data-event-category='Dropdown link', data-event-action='Smart tooltip code', data-event-label='Tooltips', target='_blank', rel='noreferrer nonopener')
                  i.eos-icons-outlined.eos-18(aria-hidden='true')
                    | open_in_new
                  span.sr-only
                    | Opens in a new tab
                  | jQuery component
    hr
    section.margin-top-xxl
      h2.js-anchor.anchor
        | Truncate text
      p
        | Sometimes we need to show a long text (for example a long email address) but there isn't enough space in the element. The smart tooltip truncates the original text and adds a tooltip where the full content is displayed.
      p
        | For it, we created and implemented a truncation functionality
      h2.js-anchor.anchor.margin-top-xxl
        | Example 1: truncate at characters count
      p
        | In some specific cases we want to truncate at characters length. Adding the `js-tooltip` class and data-truncate-characters=“count” data attribute will truncate it and add a tooltip to display the full text.

      h2.js-anchor.anchor.margin-top-xxl
        | Example 2: truncate at a given length
      p
        | To truncate at a given length (in pixels) you just need to set the `js-tooltip` class and data-truncate-px=“{count}” data attribute to our element.

      h2.js-anchor.anchor.margin-top-xxl
        | Implementation examples
      p
        | Mouse hover the text inside the gray area to trigger the tooltip.
      ul.nav.nav-pills.nav-fill(role='tablist')
        li.nav-item(role='presentation')
          a.nav-link.active(href='#example1', aria-controls='example1', role='tab', data-toggle='tab')
            | Example 1: Truncate at 20 characters
        li.nav-item(role='presentation')
          a.nav-link(href='#example2', aria-controls='example2', role='tab', data-toggle='tab')
            | Example 2: Truncate at 300px
      .tab-content
        #example1.tab-pane.active(role='tabpanel')
          .implementation-example
            .result.result-paddings.gray-bg
              span.js-tooltip(data-truncate-characters='20')
                | User-name-get-truncated-this-way-when-is-too-long-&Display-onToolTip

            .css-snippet-container
              .scss-snippet-btns
                button.btn-unstyled.js-copy-snippet(aria-label='Copy code to clipboard')
                  i.single-icon.eos-icons-outlined.eos-18.eos-light(aria-hidden='true')
                    | content_copy
              pre.js-snippet-code(tabindex=0)
                template.js-code-template
                  | <span class='js-tooltip' data-truncate-characters='20'>
                  |   User-name-get-truncated-this-way-when-is-too-long-&Display-onToolTip
                  | </span>
                code.js-code-render.language-html
        #example2.tab-pane(role='tabpanel')
          .implementation-example
            .result.result-paddings.gray-bg
              span.js-tooltip(data-truncate-px='300')
                | User-name-get-truncated-this-way-when-is-too-long-&Display-onToolTip

            .css-snippet-container
              .scss-snippet-btns
                button.btn-unstyled.js-copy-snippet(aria-label='Copy code to clipboard')
                  i.single-icon.eos-icons-outlined.eos-18.eos-light(aria-hidden='true')
                    | content_copy
              pre.js-snippet-code(tabindex=0)
                template.js-code-template
                  | <span class='js-tooltip' data-truncate-px='300'>
                  |   User-name-get-truncated-this-way-when-is-too-long-&Display-onToolTip
                  | </span>
                code.js-code-render.language-html
