extends ../../layouts/layout-main

block content
  article.container
    section.row
      .col-md-9
        h1
          | Implementation
        p.subheadline
          | Apply consistent margins, padding, and sizes to deliver a coherent SUSE product layouts to our customers.
      .col-md-3
        .dropdown.margin-top-m.float-right
          button.btn.btn-secondary.dropdown-toggle(data-toggle='dropdown', aria-expanded='false', aria-haspopup='true', aria-labelledby='layout-assets-dropdown')
            | #[i.eos-icons-outlined.eos-18(aria-hidden='true') keyboard_arrow_down]#[span.sr-only Opens assets dropdown] Layout assets
          ul#layout-assets-dropdown.dropdown-menu.dropdown-menu-right
            include ./shared/assets.pug
    hr
    section.margin-top-xxl
      .row
        .col-md-3
          p
            | The basic structure provides sidebar,content area, footer and header.
            | Here you can see the colours, In the section below there are
            | Padding, margine an size.
        .col-md-9
          .layout-implementation.layout-implementation-1
            span.sr-only
              | Layout implementation instructions
    section.margin-top-xxxl
      ul.nav.nav-pills.nav-fill(role='tablist')
        li.nav-item(role='presentation')
          a.nav-link.active(href='#responsive-breakpoint-1', aria-controls='responsive-breakpoint-1', role='tab', data-toggle='tab')
            | Greater than 1336px
        li.nav-item(role='presentation')
          a.nav-link(href='#responsive-breakpoint-2', aria-controls='responsive-breakpoint-2', role='tab', data-toggle='tab')
            | 770px - 1335px
        li.nav-item(role='presentation')
          a.nav-link(href='#responsive-breakpoint-3', aria-controls='responsive-breakpoint-3', role='tab', data-toggle='tab')
            | Less than 770px
      .tab-content
        #responsive-breakpoint-1.tab-pane.active(role='tabpanel')
          span.h3.d-block.margin-top-xxxl
            | Header
          .layout-implementation.layout-implementation-2.margin-top-xl
            span.sr-only
              | Header implementation instructions
          span.h3.d-block.margin-top-xxxl
            | Sidebar
          .layout-implementation.layout-implementation-3.margin-top-l
            span.sr-only
              | Sidebar implementation instructions
          span.h3.d-block.margin-top-xxxl
            | Footer
          .layout-implementation.layout-implementation-4.margin-top-l
            span.sr-only
              | Footer implementation instructions
          span.h3.d-block.margin-top-xxxl
            | Content area
          .layout-implementation.layout-implementation-5.margin-top-l
            span.sr-only
              | Content area implementation instructions
          span.h3.d-block.margin-top-xxxl
            | Sidebar elentents
          .layout-implementation.layout-implementation-6.margin-top-l
            span.sr-only
              | Sidebar elentents implementation instructions
          span.h3.d-block.margin-top-xxxl
            | Submenu
          .layout-implementation.layout-implementation-7.margin-top-l
            span.sr-only
              | Sidebar elentents implementation instructions

        #responsive-breakpoint-2.tab-pane(role='tabpanel')
          span.h3.d-block.margin-top-xxxl
            | Header, sidebar footer
          p
            | The only difference with this page sizes is that the sidebar collapses offering a
            | smaller version off the menu and more space for content.
          .layout-implementation.layout-implementation-8.margin-top-l
            span.sr-only
              | Responsiveness for header, sidebar footer in tablets
        #responsive-breakpoint-3.tab-pane(role='tabpanel')
          span.h3.d-block.margin-top-xxxl
            | Header, sidebar footer
          .layout-implementation.layout-implementation-9.margin-top-xxl
            span.sr-only
              | Responsiveness for header, sidebar footer in mobile
          span.h3.d-block.margin-top-xxxl
            | Mobile menu open
          .layout-implementation.layout-implementation-10.margin-top-xxl
            span.sr-only
              | Mobile menu responsiveness
