$eos-error-404-container-margin: 26%;
$eos-error-404-container-padding: 40px;
$eos-error-404-h1-font: 5em;

$eos-error-404-bunny-min-width: 250px;
$eos-error-404-bunny-width: 80%;

$eos-error-404-icon-margin: 8px;
$eos-error-404-icon-width: 30px;
$eos-error-404-icon-transform: .2s;
$eos-error-404-icon-scale: 1.5;
