/* Focus page dark theme
   ========================================================================== */
.dark-theme {
  .focus-example {
    &.focus-example-1 {
      background-image: url('../images/focus/dark-theme/focus-main-elements.png');
    }

    &.focus-example-2 {
      background-image: url('../images/focus/dark-theme/focus-dropdowns.png');
    }
  }
}
