/* Implementation example
   ========================================================================== */
/**
* Implementation example with code and UI result
*
* Variables file: assets/stylesheets/eos-custom-components/implementation-example/implementation-example.variables.scss
*/

.implementation-example {
  margin: $eos-ie-vertical-margin;

  .result {
    border-bottom: 0;
    border-radius: $eos-ie-border-radius-size $eos-ie-border-radius-size 0 0;
    color: $eos-ie-color;
    padding: $eos-ie-result-padding;

    .btn {
      margin: 0 $eos-ie-btn-margin-right $eos-ie-btn-margin-right 0;
    }

    &.white-bg {
      background: $eos-bc-white;
    }

    &.dark-bg {
      background: $eos-ie-result-dark-color;
      border: 1px solid $eos-ie-result-dark-color;
      border-radius: 0;
      padding: $eos-ie-result-dark-bg-padding;
    }

    &.gray-bg {
      background: $eos-ie-result-gray;
    }

    &.orange-bg {
      background: $eos-ie-result-yellow-bg;
      border: 1px solid $eos-ie-result-yellow-bg-border;
      border-radius: 0;
      padding: $eos-ie-result-dark-bg-padding;
    }
  }
}

.tab-content {
  .result {
    border: 0;
    overflow: hidden;
    padding-left: 0;
    padding-right: 0;

    &-paddings {
      padding: $result-paddings;
    }
  }
}
