/* Contrast table Variables dark theme
========================================================================== */
/* Colors variables: /assets/stylesheets/eos-base/variables/branding.scss */
$eos-contrast-table-color-bg-color-dt: $eos-bc-white;
$eos-contrast-table-dark-color-bg-color-dt: $eos-bc-gray-1000;
$eos-contrast-table-color-1000-border-color-dt: $eos-bc-gray-700;
$eos-contrast-table-color-1000-border-dt: 1px solid $eos-bc-gray-700;


/* Spacing variables: /assets/stylesheets/eos-base/variables/spacings.scss */
$eos-contrast-table-color-1000-padding-dt: $eos-s +  3;
