/* Contrast table dark-theme styles
   ========================================================================== */
.dark-theme {
  .contrast-table {
    .color-name {
      color: $eos-contrast-table-color-bg-color-dt;
    }

    .contrast-ratios {
      border-color: $eos-contrast-table-dark-color-bg-color-dt;
    }

    .color-text {
      border-color: $eos-contrast-table-color-bg-color-dt;
    }

    .color-1000 {
      border: $eos-contrast-table-color-1000-border-dt;
      padding-bottom: $eos-contrast-table-color-1000-padding-dt;
      padding-top: $eos-contrast-table-color-1000-padding-dt;
    }
  }

  .contrast-table-dark .color-text {
    border-color: $eos-contrast-table-color-1000-border-color-dt;
  }
}
