.card.card-horizontal.clickable.js-video-container.modal-link.js-launch-modal
  .card-content
    div
      span.d-block.h4.js-article-title
      p
  span.card-icon
    i.eos-icons-outlined.eos-18
      | play_circle
  footer
    .d-flex.justify-content-end
      a.card-link.js-article-link(href='#', data-toggle='modal', data-target='#video-dashboard', data-video-name='#')
        | Watch video
