extends ../layouts/layout-main

block content
  article.container
    section.row
      .col-md-9
        h1
          | Focus
        p.subheadline
          | Focusable elements are accessible through keyboard navigation. They can be either links, or buttons.
      .col-md-3
        .dropdown.margin-top-m.float-right
          button.btn.btn-secondary.dropdown-toggle(data-toggle='dropdown', aria-expanded='false', aria-haspopup='true', aria-labelledby='links-assets-dropdown')
            | #[i.eos-icons-outlined.eos-18(aria-hidden='true') keyboard_arrow_down]#[span.sr-only Opens assets dropdown] Focus assets
          ul#links-assets-dropdown.dropdown-menu.dropdown-menu-right
            include ../shared/kit-dropdown/assets.pug
      hr

    section
      h2.js-anchor.anchor.margin-top-xxl
        | Coherent style
      p
        | Implement the SUSE custom focus style to ensure coherent UX across browsers. Here are some examples:.
      .usage-example
        .title
          span.d-block.h5
            | Focus on links
          p
            code
              | $eos-bc-cerulean-500
        .wrap.cerulean-white.margin-bottom-xl
          p.wrap-content
            | This is the focus style #[a.js-demo-link.demo-focus(href='#') on a link]

      .usage-example
        .title
          span.d-block.h5
            | Focus on main menu
          p
            code
              | $eos-bc-cerulean-500
        .focus-example.focus-example-1.margin-bottom-xl
          span.sr-only
            | Focus style on main navigation example

      .usage-example
        .title
          span.d-block.h5
            | Focus on dropdowns
          p
            code
              | $eos-bc-cerulean-500
        .focus-example.focus-example-2.margin-bottom-xl
          span.sr-only
            | Focus style on unstyled button & dropdown elements

    section.margin-top-l
      h2.js-anchor.anchor
        | SCSS code
      .css-snippet-container
        pre.js-snippet-code(tabindex=0)
          template.js-code-template
            |*:focus {
            |    box-shadow: 0 0 0 1px $eos-bc-cerulean-500;
            |    outline: none;
            |  }
          code.js-code-render.language-scss
