block error-footer
  .error-footer
    ul
      li
        a.link-light.js-demo-link(href='#')
          | suse.com
      li
        a.link-light.js-demo-link(href='#')
          | Cookie policy
      li
        a.link-light.js-demo-link(href='#')
          | Changelog
