/* Dashboard writing
   ========================================================================== */
/* Variables: /assets/stylesheets/eos-pages/dashboard-writing/dashboard-writing.variables.scss */

.writing-mosaic {
  background-image: $eos-da-w-writing-mosaic-bg;
  background-repeat: no-repeat;
  background-size: contain;
  height: $eos-da-w-writing-mosaic-height;
  margin: 0 auto $eos-da-w-writing-mosaic-m-bottom;
  width: $eos-writing-mosaic-width;
  @media screen and (max-width: $eos-sd-max) {
    display: none;
  }
}

.card-writing {
  .card-content div:last-child {
    width: $eos-writing-mosaic-card-writing-width;
    @media screen and (max-width: $eos-md-max) {
      display: none;
    }
  }
}

.writing-link-card {
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: contain;
  height: 90px;

  &.card-1 {
    background-image: url('../images/dashboard-writing/microphone.svg');
  }

  &.card-2 {
    background-image: url('../images/dashboard-writing/volumen.svg');
  }

  &.card-3 {
    background-image: url('../images/dashboard-writing/pencil.svg');
  }
}
