extends ../layouts/layout-main

block content
  article.container
    section.row
      .col-md-9
        h1
          | Positioning
        p.subheadline
          | The placement and arrangement of buttons in an interface needs to be
          | consistent in order to ensure a seamless user experience.
      .col-md-3
        .dropdown.margin-top-m.float-right
          button.btn.btn-secondary.dropdown-toggle(data-toggle='dropdown', aria-expanded='false', aria-haspopup='true', aria-labelledby='buttons-assets-dropdown')
            | #[i.eos-icons-outlined.eos-18(aria-hidden='true') keyboard_arrow_down]#[span.sr-only Opens assets dropdown] Buttons assets
          ul#buttons-assets-dropdown.dropdown-menu.dropdown-menu-right
            include ../shared/kit-dropdown/assets.pug
    hr

    section.margin-top-xxl
      h2.js-anchor.anchor
        | Button placement
      p
        | Buttons should be placed at the bottom right of a page or component, which represents the terminal area (call-to-action).

      .example-wrap.example-wrap-short
        .example-wrap-content
          ul
            li
            li
        .example-wrap-cta
          button.btn.btn-secondary
            | Button

    section.margin-top-xxl
      h2.js-anchor.anchor
        | Button arrangement
      p
        | When there's more than one button, the button which represents the primary
        | call-to-action should be placed farthest to the right.
      p
        | This button should
        | trigger an immediate response from the user, which is why it needs to be more
        | prominent than the default button.
      p
        | Preferably, there should be only one
        | primary call-to-action button in dialogs and pages.
      .example-wrap.example-wrap-short
        .example-wrap-content
          ul
            li
            li
        .example-wrap-cta
          button.btn.btn-secondary
            | Cancel
          button.btn.btn-primary
            | Save
      .example-wrap.example-wrap-long
        .example-wrap-content
          ul
            li
        .example-wrap-cta
          button.btn.btn-secondary
            | Cancel
          button.btn.btn-primary
            | Save

    section.margin-top-xxl
      h2.js-anchor.anchor
        | Danger button
      p
        | The danger button has a different visual style and is used to inform users
        | of destructive or negative actions.
      p
        | This button should also trigger an immediate response from the user,
        | which is why it needs to be more prominent than the default button.
      .example-wrap.example-wrap-short
        .example-wrap-content
          ul
            li
            li
        .example-wrap-cta
          button.btn.btn-secondary
            | Cancel
          button.btn.btn-danger
            | Delete
      .example-wrap.example-wrap-long
        .example-wrap-content
          ul
            li
        .example-wrap-cta
          button.btn.btn-secondary
            | Cancel
          button.btn.btn-danger
            | Delete
