/* Logo icon dark theme
   ========================================================================== */
/* Variables file: assets/stylesheets/eos-custom-components/Logo-icon/dark-theme.variables.scss */
.dark-theme {
  .icon-display[data-theme='dark_theme'] {
    text-decoration: none;

    .logo-name {
      color: $eos-icon-display-text;
      text-decoration: none;
    }
  }
}
