.link-box {
  background-image: url('../images/colors/download_icon.svg');
  background-position: $eos-link-background-position;
  background-repeat: no-repeat;
  background-size: $eos-link-box-background-size;
  border-radius: $eos-link-box-border-radius;
  box-shadow: 0 3px 12px rgba(0, 0, 0, .16);
  color: $eos-link-box-color;
  display: flex;
  font-size: $eos-font-size-base;
  height: $eos-link-box-hight;
  position: relative;
  width: $eos-link-box-width-100;

  h4, p {
    margin: 0;
  }

  h4, strong {
    color: $eos-link-box-color-darker;
  }

  &-left {
    align-items: center;
    background: $eos-link-box-left-background;
    display: flex;
    justify-content: center;
    width: $eos-link-box-width-20;

    img {
      max-width: $eos-link-box-image-width;
    }
  }

  &-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: $eos-link-box-right-padding;
    width: $eos-link-box-width-80;
  }

  &::after {
    bottom: 0;
    content: ' ';
    display: block;
    height: 5px;
    left: 0;
    position: absolute;
    transition: all .2s ease-in-out;
    width: 0;
  }

  &:hover {
    cursor: pointer;

    &::after {
      background-color: $eos-link-box-after-color;
      width: $eos-link-box-width-100;
    }
  }

  /* Reset link colors for the a box */
  &:active, &:hover, &:visited, &:focus {
    color: $eos-link-box-color;
    text-decoration: none;
  }

  /* Device */
  @media screen and (max-width: $eos-md-max) {
    margin-top: $eos-xl;
  }
}
