li
  a.dropdown-item(href='https://xd.adobe.com/view/57c047c4-940b-4d93-b20b-5fb6b4af69dd-0293/', data-event-category='Dropdown link', data-event-action='Specifications', data-event-label='Sign in', target='_blank', rel='noreferrer nonopener')
    i.eos-icons-outlined.eos-18(aria-hidden='true')
      | open_in_new
    span.sr-only
      | Opens in a new tab
    | Design specifications
li
  a.dropdown-item(href='https://xd.adobe.com/view/6f7387f9-755b-4cdd-8045-afd99d159a08-3a20/', data-event-category='Dropdown link', data-event-action='Specifications for third party sign in', data-event-label='Sign in', target='_blank', rel='noreferrer nonopener')
    i.eos-icons-outlined.eos-18(aria-hidden='true')
      | open_in_new
    span.sr-only
      | Opens in a new tab
    | Design specifications for third party sign in
li
  a.dropdown-item(href='https://gitlab.com/SUSE-UIUX/eos-backup/-/raw/master/eos-website-design/External/Sign-in/sign-in.xd', data-event-category='Dropdown link', data-event-action='XD file', data-event-label='Sign in', target='_blank', rel='noreferrer nonopener')
    i.eos-icons-outlined.eos-18(aria-hidden='true')
      | download
    | Adobe XD file
li
  a.dropdown-item(href='https://gitlab.com/SUSE-UIUX/eos-backup/-/raw/master/eos-website-design/Assets/sign-in-bg/sign-in-bg.svg?inline=false')
    i.eos-icons-outlined.eos-18(aria-hidden='true')
      | photo
    | Download background image
li
  a.dropdown-item(href='/examples/demo-sign-in.html', data-event-category='Dropdown link', data-event-action='Demo page link', data-event-label='Sign in', target='_blank', rel='noreferrer nonopener')
    i.eos-icons-outlined.eos-18(aria-hidden='true')
      | open_in_new
    span.sr-only
      | Opens in a new tab
    | Demo page
