/* Logo icons set
   ========================================================================== */
.logo-icon-set-utility {
  .icons-btn-group a {
    color: $eos-logo-icons-btn-color;
    margin-left: 0;

    .eos-icons-outlined {
      color: $eos-logo-icons-btn-color;
      margin-right: $eos-logo-icons-margin-right;
    }
  }
}

.logo-icons-set-section-margin {
  margin-top: $eos-logo-icons-section-margin;
}

// Show & hide logo icons
.icon-display[data-theme='dark_theme'] {
  display: none;
}

// logo icons example
.logo-icons-example {
  background-image: url('/images/icons/logo-icons-examples.svg');
  background-position: center;
  background-repeat: no-repeat;
  height: $eos-logo-icons-example-height;
  width: $eos-logo-icons-example-width;
}
