extends ../layouts/layout-main

block content
  article.container
    section.row
      .col-md-9
        h1
          | Global alerts
        p.subheadline
          | Global alerts are used to inform users about important information related
          | to the entire system and not just about a section or page.
      .col-md-3
        .dropdown.margin-top-m.float-right
          button.btn.btn-secondary.dropdown-toggle(data-toggle='dropdown', aria-expanded='false', aria-haspopup='true', aria-labelledby='alerts-assets-dropdown')
            | #[i.eos-icons-outlined.eos-18(aria-hidden='true') keyboard_arrow_down]#[span.sr-only Opens assets dropdown] Alerts assets
          ul#alerts-assets-dropdown.dropdown-menu.dropdown-menu-right
            include ../shared/kit-dropdown/assets.pug
    hr

    section.margin-top-xxl.global-alerts-demo
      .row
        .col-md-7
          h2.js-anchor.anchor
            | Description
          ul.list-no-padding
            li
              | Global alerts are triggered by system events.
            li
              | They appear as a fixed, full-width strip, on top of the screen throughout the application.
        .col-md-5
          .alerts-demo-graphic.global-alert-graphic
            span.sr-only
              | Global alert position graphic

    section.margin-top-xl.global-alerts-demo
      .row.states-row.margin-top-xxl.js-showcase-component(name='alerts-global')
        .col-md-3.states-column
          strong.states-column-title
            | Alerts types
          ul.states-list.no-list-style.js-showcase-list
            li.js-showcase-current
              button.btn-showcase.js-element-id
                span.js-element-label
                  | Default
        .col-md-9.component-showcase-col
          strong.js-showcase-how-to
            | How to use this element
          p.js-how-to-use
          strong.d-block
            | Example
          .states-example-box
            .example-inner-box-full.js-example-inner-box
          strong.d-block
            | Code
          .css-snippet-container
            .scss-snippet-btns
              button.btn-unstyled.js-copy-snippet(aria-label='Copy code to clipboard')
                i.single-icon.eos-icons-outlined.eos-18.eos-light(aria-hidden='true')
                  | content_copy
            pre.js-snippet-code.language-markup(tabindex=0)
              code.language-html
