extends ../layouts/layout-main

block content
  article.container
    h1
      | Alerts
    p.subheadline
      | Alerts contain messages that communicate information to the user.
      | They may also incorporate calls to action, or involve multiple tasks.
    hr
    section.margin-top-xxl
      h2
        | Positioning alerts
      .row
        .col-12.col-sm-6.col-md-4.resource-content.js-resource-content.margin-bottom-m
          .card.card-horizontal.clickable
            .card-vertical-image.alerts-card-demo-graphic.global-alert-graphic
              .sr-only
                | Thumbnail for global alerts page
            .card-body
              span.d-block.h5.card-title Global alerts
              p.card-text Global alerts appear as a fixed, full-width strip, on top of the screen throughout the application.
              .d-flex.justify-content-end
                a.card-link(href='/alerts/global')
                  | Read more
        .col-12.col-sm-6.col-md-4.resource-content.js-resource-content.margin-bottom-m
          .card.card-horizontal.clickable
            .card-vertical-image.alerts-card-demo-graphic.section-alert-graphic
              span.sr-only
                | Thumbnail for section alerts page
            .card-body
              span.d-block.h5.card-title Section alerts
              p.card-text Section alerts appear above the area or form they relate to.
              .d-flex.justify-content-end
                a.card-link(href='/alerts/section')
                  | Read more
        .col-12.col-sm-6.col-md-4.resource-content.js-resource-content.margin-bottom-m
          .card.card-horizontal.clickable
            .card-vertical-image.alerts-card-demo-graphic.inline-alert-graphic
              span.sr-only
                | Thumbnail for inline alerts pager
            .card-body
              span.d-block.h5.card-title Inline alerts
              p.card-text Inline alerts are positioned within the area or form they relate to.
              .d-flex.justify-content-end
                a.card-link(href='/alerts/inline')
                  | Read more
