extends ../layouts/layout-main

block content
  article.container
    section.row
      .col-md-9
        h1
          | Product labels
        p.subheadline
          | We want to ensure that our logo commands the stage it deserves. That’s why we use it primarily on our two
          | background colors, white and pine, where it has enough contrast to shine.
      .col-md-3
        .dropdown.margin-top-m.float-right
          button.btn.btn-secondary.dropdown-toggle(data-toggle='dropdown', aria-expanded='false', aria-haspopup='true', aria-labelledby='product-labels-dropdown')
            | #[i.eos-icons-outlined.eos-18(aria-hidden='true') keyboard_arrow_down]#[span.sr-only Opens assets dropdown] Logos assets
          ul#product-labels-dropdown.dropdown-menu.dropdown-menu-right
            li
              a.dropdown-item(href='/typography', data-event-category='Dropdown link', data-event-action='Installation instructions', data-event-label='Links')
                i.eos-icons-outlined.eos-18(aria-hidden='true')
                  | library_books
                | Poppins Font
    hr
    section.row
      .col-md-6
        h2.js-anchor.anchor.margin-top-xxl
          | Introduction
        p
          | As we do not create product brands, we don’t apply logos for commercial products. We label them with their
          | names, written in our corporate font Poppins and without any additional picture mark.
        p
          | As with any rule, there is one exception: #[a(href='/product-labels/suse-rancher') SUSE Rancher].
      .col-md-6
        .figure-wrap.margin-top-xxl
          .text-center
            img.img-fluid.img-fluid-v-centered(src='/images/logos/labels.png', alt='SUSE logo labels')
    section.row
      .col-md-12
        h2.js-anchor.anchor.margin-top-xxl
          | Examples of product labels
        p
          | These are two examples depicting the usage of labels for two SUSE products.
      .col-md-6
        .figure-wrap.margin-top-xxl
          .text-center
            img.img-fluid.img-fluid-v-centered(src='/images/logos/product-logos-eg.png', alt='SUSE logo labels')
      .col-md-6
        .figure-wrap.margin-top-xxl
          .text-center
            img.img-fluid.img-fluid-v-centered(src='/images/logos/product-logos-eg-1.png', alt='SUSE logo labels')
