extends ../layouts/layout-main

block content
  article.container
    section.row
      .col-md-9
        h1
          | SUSE Rancher
        p.subheadline
          | When talking about SUSE Rancher, the Enterprise commercial offering from SUSE, use the SUSE label with the green cow.
      .col-md-3
        .dropdown.margin-top-m.float-right
          button.btn.btn-secondary.dropdown-toggle(data-toggle='dropdown', aria-expanded='false', aria-haspopup='true', aria-labelledby='product-labels-dropdown')
            | #[i.eos-icons-outlined.eos-18(aria-hidden='true') keyboard_arrow_down]#[span.sr-only Opens assets dropdown] Logos assets
          ul#product-labels-dropdown.dropdown-menu.dropdown-menu-right
            li
              a.dropdown-item(href='/typography', data-event-category='Dropdown link', data-event-action='Installation instructions', data-event-label='Links')
                i.eos-icons-outlined.eos-18(aria-hidden='true')
                  | library_books
                | Poppins Font
    hr
    section.row
      .col-md-6
        h2.js-anchor.anchor.margin-top-xxl
          | Introduction
        p
          | Although the established rule is not to apply logos for commercial products, instead labelling them with their
          | names, there is one exception: SUSE Rancher.
        p
          | Using the SUSE Rancher logo, we generate positive spillover effects, by using a label for the SUSE Rancher commercial product.
      .col-md-6
        .figure-wrap.margin-top-xxl
          .text-center
            img.img-fluid.img-fluid-v-centered(src='/images/logos/rancher.png', alt='SUSE logo labels')
    section.row
      .col-md-6
        h2.js-anchor.anchor.margin-top-xxl
          | The SUSE Rancher logo
        p
          | When talking about SUSE Rancher, the Enterprise commercial offering from SUSE, use the SUSE label with the green cow.
      .col-md-6.d-flex.align-items-center.margin-top-xxl
        .logo-labels-example.example-1
          span.sr-only
            | SUSE Rancher logo label
    section.row
      .col-md-6.d-flex.align-items-center
        p
          | When talking about SUSE Rancher, in context with other SUSE commercial products, use the SUSE label with no cow.
      .col-md-6.d-flex.align-items-center
        .logo-labels-example.example-2
          span.sr-only
            | SUSE label without the cow
    section.row
      .col-md-12
        h2.js-anchor.anchor.margin-top-xxl
          | Example of Rancher logo implementation
        p
          | This is an example of the SUSE Rancher logo with the green cow.
        .figure-wrap.margin-top-xxl
          .text-center
            img.img-fluid.img-fluid-v-centered(src='/images/logos/suse-rancher-example.png', alt='Image depicting the SUSE Rancher logo implementation')
    section.row
      .col-md-12
        h2.js-anchor.anchor.margin-top-xxl
          | Download SUSE Rancher logos
        p.margin-bottom-xxl
          | Download the different SUSE Rancher logo variants in png or svg format.
      .col-md-3
        .card
          img.card-img-top(src='/images/logos/suse-rancher-green-white.svg', alt='SUSE Rancher green/white logo')
          .card-body.d-flex.justify-content-between.align-items-center
            span.card-title.m-0
              | Green/white
            ul.list-inline.m-0.text-right
              li.list-inline-item.p-0
                a(href='https://res.cloudinary.com/eosdesignsystem/image/upload/v1626954761/EOS/logo-examples/SUSE-RANCHER_Label_Green-White.png', target='_blank', aria-label=`Download SUSE Rancher's green-white label png`)
                  | png
              li.list-inline-item.p-0
                a(href='https://res.cloudinary.com/eosdesignsystem/image/upload/v1626955966/EOS/logo-examples/SUSE-RANCHER_Label_Green-White-neg_sRGB.svg', target='_blank', aria-label=`Download SUSE Rancher's green-white label svg`)
                  | svg
      .col-md-3
        .card
          img.card-img-top(src='/images/logos/suse-rancher-green.svg', alt='SUSE Rancher green logo')
          .card-body.d-flex.justify-content-between.align-items-center
            span.card-title.m-0
              | Green
            ul.list-inline.m-0.text-right
              li.list-inline-item.p-0
                a(href='https://res.cloudinary.com/eosdesignsystem/image/upload/v1626954761/EOS/logo-examples/SUSE-RANCHER_Label_Green.png', target='_blank', aria-label=`Download SUSE Rancher's green label png`)
                  | png
              li.list-inline-item.p-0
                a(href='https://res.cloudinary.com/eosdesignsystem/image/upload/v1626955966/EOS/logo-examples/SUSE-RANCHER_Label_Green-pos_sRGB.svg', target='_blank', aria-label=`Download SUSE Rancher's green label svg`)
                  | svg
      .col-md-3
        .card
          img.card-img-top(src='/images/logos/suse-rancher-white.svg', alt='SUSE Rancher white logo')
          .card-body.d-flex.justify-content-between.align-items-center
            span.card-title.m-0
              | White
            ul.list-inline.m-0.text-right
              li.list-inline-item.p-0
                a(href='https://res.cloudinary.com/eosdesignsystem/image/upload/v1626954761/EOS/logo-examples/SUSE-RANCHER_Label_White.png', target='_blank', aria-label=`Download SUSE Rancher's white label png`)
                  | png
              li.list-inline-item.p-0
                a(href='https://res.cloudinary.com/eosdesignsystem/image/upload/v1626955966/EOS/logo-examples/SUSE-RANCHER_Label_White-neg_sRGB.svg', target='_blank', aria-label=`Download SUSE Rancher's white label svg`)
                  | svg
      .col-md-3
        .card
          img.card-img-top(src='/images/logos/suse-rancher-black.svg', alt='SUSE Rancher black logo')
          .card-body.d-flex.justify-content-between.align-items-center
            span.card-title.m-0
              | Black
            ul.list-inline.m-0.text-right
              li.list-inline-item.p-0
                a(href='https://res.cloudinary.com/eosdesignsystem/image/upload/v1626954761/EOS/logo-examples/SUSE-RANCHER_Label_Black.png', target='_blank', aria-label=`Download SUSE Rancher's black label png`)
                  | png
              li.list-inline-item.p-0
                a(href='https://res.cloudinary.com/eosdesignsystem/image/upload/v1626955966/EOS/logo-examples/SUSE-RANCHER_Label_Black-pos_sRGB.svg', target='_blank', aria-label=`Download SUSE Rancher's black label svg`)
                  | svg
