/* labels page
   ========================================================================== */
.logo-labels-example {
  background-repeat: no-repeat;
  background-size: contain;

  &.example-1 {
    background-image: url('../images/logos/suse-rancher-logo.png');
    height: $eos-labels-example-1-height;
    width: $eos-labels-example-1-width;
  }

  &.example-2 {
    background-image: url('../images/logos/suse-rancher-label.png');
    height: $eos-labels-example-2-height;
    width: $eos-labels-example-2-width;
  }

}
