.nav-wrap.menu-togglable
  ul.no-list-style
    li.menu-item.js-menu-item
      .menu-element.js-menu-element
        a.main-collapsed-single.js-select-current-parent.js-feature-flag(href='/', data-feature-flag= docEnabled['/'])
          | Home
      a.menu-title.js-select-current-parent.js-feature-flag(href='/', data-feature-flag= docEnabled['/'])
        i.eos-icons-outlined(aria-hidden='true')
          | home
        span.menu-title-content
          | Home
      li.menu-item.menu-dropdown.js-menu-item
        input#documentation-toggle(type='checkbox')
        label.menu-title.js-dropdown-toggle(for='documentation-toggle')
          i.eos-icons-outlined(aria-hidden='true')
            | school
          span.menu-title-content
            | Documentation
          i.eos-icons-outlined.eos-18.float-right.menu-expand(aria-hidden='true')
            | keyboard_arrow_down
          span.sr-only
            | Toggle dropdown
        ul.menu-dropdown-list.menu-element.js-menu-element
          li.menu-collapsed-title
            | Documentation
          li
            a.menu-title.js-select-current.js-feature-flag(href='/installing-npm', data-feature-flag= docEnabled['/installing-npm'])
              | NPM package
          li
            a.menu-title.js-select-current-parent.js-feature-flag(href='/design-kit', data-feature-flag= docEnabled['/design-kit'])
              | Design kit
          li
            a.menu-title.js-select-current-parent.js-feature-flag(href='/using-cdn', data-feature-flag= docEnabled['/using-cdn'])
              | Using the CDN

  hr
  ul.no-list-style
    li.menu-item.js-menu-item
      .menu-element.js-menu-element
        a.main-collapsed-single.js-select-current-parent.js-feature-flag(href='accessibility', data-feature-flag= docEnabled['/accessibility'])
          | Accessibility
      a.menu-title.js-select-current-parent.js-feature-flag(href='/accessibility', data-feature-flag= docEnabled['/accessibility'])
        i.eos-icons-outlined(aria-hidden='true')
          | accessibility
        span.menu-title-content
          | Accessibility
    li.menu-item.js-menu-item
      .menu-element.js-menu-element
        a.main-collapsed-single.js-select-current-parent.js-feature-flag(href='/alerts', data-feature-flag= docEnabled['/alerts'])
          | Alerts
      a.menu-title.js-select-current-parent.js-feature-flag(href='/alerts', data-feature-flag= docEnabled['/alerts'])
        i.eos-icons-outlined(aria-hidden='true')
          | notifications
        span.menu-title-content
          | Alerts
    li.menu-item.js-menu-item
      .menu-element.js-menu-element
        a.main-collapsed-single.js-select-current-parent.js-feature-flag(href='/badges', data-feature-flag= docEnabled['/badges'])
          | Badges
      a.menu-title.js-select-current-parent.js-feature-flag(href='/badges', data-feature-flag= docEnabled['/badges'])
        i.eos-icons-outlined(aria-hidden='true')
          | label
        span.menu-title-content
          | Badges
    li.menu-item.js-menu-item
      .menu-element.js-menu-element
        a.main-collapsed-single.js-select-current-parent.js-feature-flag(href='/buttons', data-feature-flag= docEnabled['/buttons'])
          | Buttons
      a.menu-title.js-select-current-parent.js-feature-flag(href='/buttons', data-feature-flag= docEnabled['/buttons'])
        i.eos-icons-outlined(aria-hidden='true')
          | crop_16_9
        span.menu-title-content
          | Buttons
    li.menu-item.js-menu-item
      .menu-element.js-menu-element
        a.main-collapsed-single.js-select-current-parent.js-feature-flag(href='/cards', data-feature-flag= docEnabled['/cards'])
          | Cards
      a.menu-title.js-select-current-parent.js-feature-flag(href='/cards', data-feature-flag= docEnabled['/cards'])
        i.eos-icons-outlined(aria-hidden='true')
          | recent_actors
        span.menu-title-content
          | Cards
    li.menu-item.js-menu-item
      .menu-element.js-menu-element
        a.main-collapsed-single.js-select-current-parent.js-feature-flag(href='/colors', data-feature-flag= docEnabled['/colors'])
          | Colors
      a.menu-title.js-select-current-parent.js-feature-flag(href='/colors', data-feature-flag= docEnabled['/colors'])
        i.eos-icons-outlined(aria-hidden='true')
          | color_lens
        span.menu-title-content
          | Colors
    li.menu-item.js-menu-item
      .menu-element.js-menu-element
        a.main-collapsed-single.js-select-current-parent.js-feature-flag(href='/dropdown', data-feature-flag= docEnabled['/dropdown'])
          | Dropdown
      a.menu-title.js-select-current-parent.js-feature-flag(href='/dropdown', data-feature-flag= docEnabled['/dropdown'])
        i.eos-icons-outlined(aria-hidden='true')
          | arrow_drop_down_circle
        span.menu-title-content
          | Dropdown
      li.menu-item.js-menu-item
        .menu-element.js-menu-element
          a.main-collapsed-single.js-select-current-parent.js-feature-flag(href='/focus', data-feature-flag= docEnabled['/focus'])
            | Focus
        a.menu-title.js-select-current-parent.js-feature-flag(href='/focus', data-feature-flag= docEnabled['/focus'])
          i.eos-icons-outlined(aria-hidden='true')
            | flourescent
          span.menu-title-content
            | Focus
      li.menu-item.js-menu-item.menu-dropdown.js-feature-flag(data-feature-flag= docEnabled['/menuselection-form'])
        input#form-elements-toggle.js-dropdown-toggle(type='checkbox')
        label.menu-title(for='form-elements-toggle')
          i.eos-icons-outlined(aria-hidden='true')
            | assignment
          span.menu-title-content
            | Form elements
          i.eos-icons-outlined.eos-18.float-right.menu-expand(aria-hidden='true')
            | keyboard_arrow_down
          span.sr-only
            | Toggle dropdown
        ul.menu-dropdown-list.menu-element.js-menu-element
          li.menu-collapsed-title
            | Form elements
          li
            a.menu-title.js-select-current.js-feature-flag(href='/form-elements/address', data-feature-flag= docEnabled['/form-elements/checkbox'])
              | Address
          li
            a.menu-title.js-select-current.js-feature-flag(href='/form-elements/checkbox', data-feature-flag= docEnabled['/form-elements/checkbox'])
              | Checkbox
          li
            a.menu-title.js-select-current.js-feature-flag(href='/form-elements/input-fields', data-feature-flag= docEnabled['/form-elements/input-fields'])
              | Input fields
          li
            a.menu-title.js-select-current.js-feature-flag(href='/form-elements/radio-buttons', data-feature-flag= docEnabled['/form-elements/radio-buttons'])
              | Radio buttons
          li
            a.menu-title.js-select-current.js-feature-flag(href='/form-elements/select', data-feature-flag= docEnabled['/form-elements/select'])
              | Select
          li
            a.menu-title.js-select-current.js-feature-flag(href='/form-elements/text-area', data-feature-flag= docEnabled['/form-elements/text-area'])
              | Text area
          li
            a.menu-title.js-select-current.js-feature-flag(href='/form-elements/toggle', data-feature-flag= docEnabled['/form-elements/toggle'])
              | Toggle
    li.menu-item.js-menu-item
      .menu-element.js-menu-element
        a.main-collapsed-single.js-select-current-parent.js-feature-flag(href='/icons', data-feature-flag= docEnabled['/icons'])
          | Icons
      a.menu-title.js-select-current-parent.js-feature-flag(href='/icons', data-feature-flag= docEnabled['/icons'])
        i.eos-icons-outlined(aria-hidden='true')
          | miscellaneous
        span.menu-title-content
          | Icons
    li.menu-item.js-menu-item
      .menu-element.js-menu-element
        a.main-collapsed-single.js-select-current-parent.js-feature-flag(href='/links', data-feature-flag= docEnabled['/links'])
          | Links
      a.menu-title.js-select-current-parent.js-feature-flag(href='/links', data-feature-flag= docEnabled['/links'])
        i.eos-icons-outlined(aria-hidden='true')
          | link
        span.menu-title-content
          | Links
    li.menu-item.js-menu-item
      .menu-element.js-menu-element
        a.main-collapsed-single.js-select-current-parent.js-feature-flag(href='/pagination', data-feature-flag= docEnabled['/pagination'])
          | Pagination
      a.menu-title.js-select-current-parent.js-feature-flag(href='/pagination', data-feature-flag= docEnabled['/pagination'])
        i.eos-icons-outlined(aria-hidden='true')
          | settings_ethernet
        span.menu-title-content
          | Pagination
    li.menu-item.js-menu-item
      .menu-element.js-menu-element
        a.main-collapsed-single.js-select-current-parent.js-feature-flag(href='/patterns', data-feature-flag= docEnabled['/patterns'])
          | Patterns
      a.menu-title.js-select-current-parent.js-feature-flag(href='/patterns', data-feature-flag= docEnabled['/patterns'])
        i.eos-icons-outlined(aria-hidden='true')
          | patterns
        span.menu-title-content
          | Patterns
    li.menu-item.js-menu-item
      .menu-element.js-menu-element
        a.main-collapsed-single.js-select-current-parent.js-feature-flag(href='/product-labels', data-feature-flag= docEnabled['/product-labels'])
          | Product labels
      a.menu-title.js-select-current-parent.js-feature-flag(href='/product-labels', data-feature-flag= docEnabled['/product-labels'])
        i.eos-icons-outlined(aria-hidden='true')
          | products
        span.menu-title-content
          | Product labels
    li.menu-item.js-menu-item
      .menu-element.js-menu-element
        a.main-collapsed-single.js-select-current-parent.js-feature-flag(href='/tables', data-feature-flag= docEnabled['/tables'])
          | Tables
      a.menu-title.js-select-current-parent.js-feature-flag(href='/tables', data-feature-flag= docEnabled['/tables'])
        i.eos-icons-outlined(aria-hidden='true')
          | grid_on
        span.menu-title-content
          | Tables
    li.menu-item.js-menu-item
      .menu-element.js-menu-element
        a.main-collapsed-single.js-select-current-parent.js-feature-flag(href='/tabs', data-feature-flag= docEnabled['/tabs'])
          | Tabs
      a.menu-title.js-select-current-parent.js-feature-flag(href='/tabs', data-feature-flag= docEnabled['/tabs'])
        i.eos-icons-outlined(aria-hidden='true')
          | tab
        span.menu-title-content
          | Tabs
    li.menu-item.js-menu-item.menu-dropdown
      input#layout-toggle.js-dropdown-toggle(type='checkbox')
      label.menu-title(for='layout-toggle')
        i.eos-icons-outlined(aria-hidden='true')
          | web
        span.menu-title-content
          | Templates
        i.eos-icons-outlined.eos-18.float-right.menu-expand(aria-hidden='true')
          | keyboard_arrow_down
        span.sr-only
          | Toggle dropdown
      ul.menu-dropdown-list.menu-element.js-menu-element
        li.menu-collapsed-title
          | Templates
        li
          a.menu-title.js-select-current.js-feature-flag(href='/templates/error-page', data-feature-flag= docEnabled['/templates/error-page'])
            | Error page
        li
          a.menu-title.js-select-current-parent.js-feature-flag(href='/layout', data-feature-flag= docEnabled['/layout'])
            | Layout
        li
          a.menu-title.js-feature-flag.js-select-current(href='/templates/sign-in', data-feature-flag= docEnabled['/templates/sign-in'])
            | Sign in
    li.menu-item.js-menu-item
      .menu-element.js-menu-element
        a.main-collapsed-single.js-select-current-parent.js-feature-flag(href='/theme', data-feature-flag= docEnabled['/theme'])
          | Theme
      a.menu-title.js-select-current-parent.js-feature-flag(href='/theme', data-feature-flag= docEnabled['/theme'])
        i.eos-icons-outlined(aria-hidden='true')
          | dark_mode
        span.menu-title-content
          | Theme
    li.menu-item.js-menu-item
      .menu-element.js-menu-element
        a.main-collapsed-single.js-select-current-parent.js-feature-flag(href='/tooltips', data-feature-flag= docEnabled['/tooltips'])
          | Tooltips
      a.menu-title.js-select-current-parent.js-feature-flag(href='/tooltips', data-feature-flag= docEnabled['/tooltips'])
        i.eos-icons-outlined(aria-hidden='true')
          | chat_bubble_outline
        span.menu-title-content
          | Tooltips
    li.menu-item.js-menu-item
      .menu-element.js-menu-element
        a.main-collapsed-single.js-select-current-parent.js-feature-flag(href='/typography', data-feature-flag= docEnabled['/typography'])
          | Typography
      a.menu-title.js-select-current-parent.js-feature-flag(href='/typography', data-feature-flag= docEnabled['/typography'])
        i.eos-icons-outlined(aria-hidden='true')
          | text_fields
        span.menu-title-content
          | Typography
    li.menu-item.js-menu-item
      .menu-element.js-menu-element
        a.main-collapsed-single.js-select-current-parent.js-feature-flag(href='/writing', data-feature-flag= docEnabled['/writing'])
          | Writing guides
      a.menu-title.js-select-current-parent.js-feature-flag(href='/writing', data-feature-flag= docEnabled['/writing'])
        i.eos-icons-outlined(aria-hidden='true')
          | spellcheck
        span.menu-title-content
          | Writing guides
    - if ( process.env.NODE_ENV != 'staging' && process.env.NODE_ENV != 'production') {
      li.menu-item.js-menu-item.menu-dropdown
        input#internal-tools-toggle.js-dropdown-toggle(type='checkbox')
        label.menu-title(for='internal-tools-toggle')
          i.eos-icons-outlined(aria-hidden='true')
            | build
          span.menu-title-content
            | Internal tools
          i.eos-icons-outlined.eos-18.float-right.menu-expand(aria-hidden='true')
            | keyboard_arrow_down
          span.sr-only
            | Toggle dropdown
        ul.menu-dropdown-list.menu-element.js-menu-element
          li.menu-collapsed-title
            | Internal tools
          li
            a.menu-title.js-select-current(href='/internal/design-specs')
              | Design specs
          li
            a.menu-title.js-select-current(href='/examples/demo-components.html')
              | Components demo
          li
            a.menu-title.js-select-current(href='/internal/migration-tool')
              | Migration tool
    - }
