nav.main-menu.js-main-menu(aria-label='Site Navigation')
  .mm-navigation-container
    header
      a.hide-collapsed(href='/')
        img.ds-logo(src='/images/suse-product-brand.svg', alt='SUSE product brand logotype')
      button.mm-navigation-close.js-sidebar-toggle
        i.eos-icons-outlined.js-sidebar-tooltip.js-tooltip(data-placement='bottom', title='Toggle collapsible menu', aria-hidden='true')
          | menu
        span.sr-only
          | Toggle collapsible menu
    include main-menu.pug

  include ../footer/footer-side-menu.pug
