/* Component showcase dark theme
   ========================================================================== */
/* Variables file: assets/stylesheets/eos-custom-components/component-showcase/dark-theme.variables.scss */
.dark-theme {
  .component-showcase-col {
    background-color: $eos-component-showcase-bg;

    .states-example-box {
      background-color: $eos-dark-background;
    }
  }

  .btn-showcase {
    color: $eos-showcase-dark-color;
  }
}


