extends ../layouts/layout-main

block content
  article.container
    section.row
      .col-md-9
        h1
          | Accessibility
        p.subheadline
          | Badges are suitable for use as counters, for example to indicate the number of notifications.
      .col-md-3
        .dropdown.margin-top-m.float-right
          button.btn.btn-secondary.dropdown-toggle(data-toggle='dropdown', aria-expanded='false', aria-haspopup='true', aria-labelledby='badges-assets-dropdown')
            | #[i.eos-icons-outlined.eos-18(aria-hidden='true') keyboard_arrow_down]#[span.sr-only Opens assets dropdown] Badge assets
          ul#badges-assets-dropdown.dropdown-menu.dropdown-menu-right
            include ../shared/kit-dropdown/assets.pug
    hr
    section.margin-top-xxl
      .row
        .col-md-12
          h2.js-anchor.anchor
            | Considerations
          ul.list-no-padding
            li
              | The use of color to add meaning provides only a visual cue and does not convey information to the
              | assistive technology user.
            li
              | Use visually hidden text to convey meaning to assertive technologies. We recommend using the
              | #[code .sr-only] class.
    include ../shared/accessibility/checklist.pug
