/* Icons UX
   ========================================================================== */
/* Spacing variables: /assets/stylesheets/eos-base/variables/spacings.scss */
$eos-icons-ux-margin-right: $eos-s + 2;
$eos-icons-ux-margin-top: $eos-xs - 2;
$eos-icons-ux-vertical-align-icon: $eos-xl + 5;
$eos-icons-ux-link-icon-margin-right: $eos-xs;
$eos-icon-ux-with-label-height: 133px;
$eos-icon-ux-without-label: 44px;
$eos-icon-ux-vertical-content-width: 80%;
