extends ../layouts/layout-main

block content
  article.container
    section.row
      .col-md-9
        h1
          | Accessibility
        p.subheadline
          | Tab panels, much like accordions, are often used to conserve space and reduce scrolling.

      .col-md-3
        .dropdown.margin-top-m.float-right
          button.btn.btn-secondary.dropdown-toggle(data-toggle='dropdown', aria-expanded='false', aria-haspopup='true', aria-labelledby='tables-assets-dropdown')
            | #[i.eos-icons-outlined.eos-18(aria-hidden='true') keyboard_arrow_down]#[span.sr-only Opens assets dropdown] Tabs assets
          ul#tables-assets-dropdown.dropdown-menu.dropdown-menu-right
            include ../shared/kit-dropdown/assets.pug

    hr
    section.margin-top-xxl
      .row
        .col-md-12
          h2.js-anchor.anchor
            | General
          ul.list-no-padding
            li
              | All the tab controls have an aria #[code role=‘tab’].
            li
              | All #[code role='tab'] controls have to be contained within a #[code role='tablist'] element so the screen reader knows how many tabs there are total.
            li
              | Each tab control also has a unique #[code aria-controls] attribute pointing to the #[code ID] reference of the tab panel it opens.
            li
              | Each of the tab panels must have #[code role='tabpanel'] and #[code ID] reference of the tab controls.

    include ../shared/accessibility/checklist.pug
