extends ../layouts/layout-main

block content
  article.container
    section.row
      .col-md-9
        h1
          | Accessibility
        p.subheadline
          | Pagination helps us to add navigation links to reveal more content on the page. Use a wrapping #[code nav] element to
          | identify pagination as a navigation section to screen readers and other assistive technologies.
      .col-md-3
        .dropdown.margin-top-m.float-right
          button.btn.btn-secondary.dropdown-toggle(data-toggle='dropdown', aria-expanded='false', aria-haspopup='true', aria-labelledby='alerts-assets-dropdown')
            | #[i.eos-icons-outlined.eos-18(aria-hidden='true') keyboard_arrow_down]#[span.sr-only Opens assets dropdown] Alerts assets
          ul#alerts-assets-dropdown.dropdown-menu.dropdown-menu-right
            include ../shared/kit-dropdown/assets.pug
    hr
    section.margin-top-xl
      h2.js-anchor.anchor
        | Considerations

      p
        | While working with pagination it's important to keep in mind the following:

      h5.js-anchor.anchor
        | 1. Wrapping the pagination component in a #[code nav] element
      p
        | In order to let AT users recognize that there is a pagination, we should wrap the links in a #[code nav] element.
      pre.js-snippet-code(tabindex=0)
        template.js-code-template
          | <nav>
          |   <ul><!-- pagination links --></ul>
          | </nav>
        code.js-code-render.language-html

      h5.js-anchor.anchor.margin-top-xl
        | 2. Labelling the navigation links
      p
        | It's important to have our elements label to clearly indicate where we hare and where our following action will take us.
      pre.js-snippet-code(tabindex=0)
        template.js-code-template
          | <nav class='pagination-wrap' aria-label='Page navigation example'>
          |   <ul class='pagination'>
          |     <li class='page-item'><a class='page-link' href='' aria-label='Previous page' >Prev</a></li>
          |     <li class='page-item'><a class='page-link' href='' aria-label='Page 1'>1</a></li>
          |     <li class='page-item active'><a class='page-link' href='' aria-label='Page 2' aria-current='true'>2</a></li>
          |     <li class='page-item'><a class='page-link' href='' aria-label='Page 3'>3</a></li>
          |     <li class='page-item'><a class='page-link' href='' aria-label='Next page'>Next</a></li>
          |   </ul>
          | </nav>
        code.js-code-render.language-html

      h5.js-anchor.anchor.margin-top-xl
        | 3. Use of #[code aria-current="true"] label
      p
        | It will tell assistive technologies that the focused link is pointing to the current page.
      pre.js-snippet-code(tabindex=0)
        template.js-code-template
          | <nav class='pagination-wrap' aria-label='Page navigation example'>
          |   <ul class='pagination'>
          |     <!-- rest of the elements -->
          |     <li class='page-item active'><a class='page-link' href='' aria-label='Page 2' aria-current='true'>2</a></li>
          |     <!-- rest of the elements -->
          |   </ul>
          | </nav>
        code.js-code-render.language-html

      h5.js-anchor.anchor.margin-top-xl
        | 4. Use of #[code aria-disabled="true"] label
      p
        | Adding the corresponding attribute will help any assistive technologies to indetify that a specific item is disabled.
      pre.js-snippet-code(tabindex=0)
        template.js-code-template
          | <nav class='pagination-wrap' aria-label='Page navigation example'>
          |   <ul class='pagination'>
          |     <!-- rest of the elements -->
          |     <li class='page-item disabled' aria-disabled='true' aria-label='Page 2'><a class='page-link' href='#'>2</a></li>
          |     <!-- rest of the elements -->
          |   </ul>
          | </nav>
        code.js-code-render.language-html
