/* Loading variables
   ========================================================================== */
/* Color variables: /assets/stylesheets/eos-base/variables/branding.scss */
/* Zindex variables: /assets/stylesheets/eos-base/variables/z-index.scss */
$eos-loading-background: $eos-bc-white;
$eos-loading-icon-margin: 50vh;
$eos-loading-zindex: $eos-zindex-top;
$eos-loading-width: 100%;
