/* Focus page
   ========================================================================== */
.focus-example {
  background-size: cover;

  &.focus-example-1 {
    background-image: url('../images/focus/focus-main-elements.png');
    height: $eos-focus-example-1-height;
    width: $eos-focus-example-1-width;
  }

  &.focus-example-2 {
    background-image: url('../images/focus/focus-dropdowns.png');
    height: $eos-focus-example-2-height;
    width: $eos-focus-example-2-width;
  }
}
