/* Focus page variables
   ========================================================================== */

$eos-focus-example-1-height: 229px;
$eos-focus-example-1-width: 249px;

$eos-focus-example-2-height: 134px;
$eos-focus-example-2-width: 499px;
