extends ../layouts/layout-main

block content
  article.container
    section.row
      .col-md-9
        h1
          | Dark theme colors
        p.subheadline
          | The color palette in the dark theme uses dark background colors and light
          | foreground colors to ensure contrast to reduce eye strain and to save battery life.
      .col-md-3
        include shared/colors-dropdown.pug
    hr

    .alert.alert-section.alert-info(role='alert')
      i.eos-icons-outlined.eos-18.alert-icon
        | info
      .alert-body
        .alert-title
          | Dark theme color palette
        | The dark theme uses all existing
        | #[a(href='/colors', data-event-category='Internal link', data-event-action='Color link', data-event-label='Colors/dark-theme-colors') colors]
        | from the palette and introduces two new gray shades for component backgrounds.

    section.margin-top-xxl
      .colors-wrap
        .color-wrap.bc-dark-theme-gray
          .color-title
            span.d-block.h4
              | Dark theme gray
            p
              code
                | $eos-bc-dt-gray-100
          p
            | Use for: dark theme background.
          .reduced-color-content
            .color.color-100
              strong
                | 100
              .hex
                | #2B2E38
              .variable-box.color-100
                button.btn-unstyled.d-block.js-cc(data-clipboard-text='$eos-bc-dt-gray-100', aria-label='Copy code to clipboard')
                  i.single-icon.eos-icons-outlined.eos-18.eos-light(aria-hidden='true')
                    | content_copy
                  | $eos-bc-dt-gray-100
                button.btn-unstyled.margin-top-s.js-cc-hex(data-clipboard-text='#2B2E38', aria-label='Copy code to clipboard')
                  i.single-icon.eos-icons-outlined.eos-18.eos-light(aria-hidden='true')
                    | content_copy
                  | #2B2E38
            .color.color-200
              strong
                | 200
              .hex
                | #1F222B
              .variable-box.color-200
                button.btn-unstyled.d-block.js-cc(data-clipboard-text='$eos-bc-dt-gray-200', aria-label='Copy code to clipboard')
                  i.single-icon.eos-icons-outlined.eos-18(aria-hidden='true')
                    | content_copy
                  span.sr-only
                  | $eos-bc-dt-gray-200
                button.btn-unstyled.margin-top-s.js-cc-hex(data-clipboard-text='#1F222B')
                  i.eos-icons-outlined.eos-18
                    | content_copy
                  | #1F222B
