extends ../layouts/layout-main

block content
  article.container
    section.row
      .col-md-9
        h1
          | Usage of the color palettes
        p.subheadline
          | Whether designing new components and UI elements, or simply re-branding
          | an application, follow these simple rules to consistently use
          | and combine the color palettes for text, backgrounds, and links.
      .col-md-3
        include shared/colors-dropdown.pug
    hr

    h2.js-anchor.anchor
      | Text and titles on monochromatic backgrounds
    p
      | The text color must be white on black backgrounds.
      | On white backgrounds the text color must be the darkest shade of gray.

    section.usage-example
      .title
        span.d-block.h5
          | #141823
        p
          code
            | $eos-bc-gray-1000
      .wrap.white-gray
        p.wrap-content
          | Default text color on white
    section.usage-example
      .title
        span.d-block.h5
          | #FFFFFF
        p
          code
            | $eos-bc-white
      .wrap.dark-gray-white
        p.wrap-content
          | Default text color on dark gray

    h2.js-anchor.anchor.margin-top-xxl
      | Text and titles on colored backgrounds
    p
      | Always use white as text color on colored backgrounds.
      | If the #[a(href='#color-contrast', data-event-category='Internal link', data-event-action='Contrast ratio link', data-event-label='Colors/usage') contrast] between white text and the background fails, use dark gray as text color.

    section.usage-example
      .title
        span.d-block.h5
          | #FFFFFF
        p
          code
            | $eos-bc-white
      .wrap.white-violet
        p.wrap-content
          | Text on colored backgrounds
    section.usage-example
      .title
        span.d-block.h5
          | #141823
        p.wrap-content
          code
            | $eos-bc-gray-1000
      .wrap.black-cerulean
        p.wrap-content
          | Text on colored backgrounds
